* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    color: white;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li {
    margin-left: 20px;
    font-size: 16px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #4bff1e;
}

.search {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.srch {
    font-family: 'Times New Roman';
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid hsl(147, 100%, 50%);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 80px;
    height: 40px;
    background: hsl(103, 100%, 50%);
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    color: #000;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.contact-intro {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.social-box {
    display: flex;
    align-items: center;
    background-color: rgb(99, 179, 83);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-box i {
    margin-right: 10px;
    font-size: 24px;
}

.social-box a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-box a:hover {
    color: #0c7b00;
}